*{
	margin: 0px;
	padding: 0px;
}
/*header*/
.graf{
	width: 100%;
	height: 150px;
	background-color: #000000;
	margin-bottom: 50px;
}
.logo{
	position: absolute;
	max-height: 150px;
	left: 42%;
}

.nava{
	position: relative;
	top: 145px;
	display: flex;
	justify-content: center;
	background-color: white;
}
.nava a{
	font-size: 100%;
	font-family: 'Staatliches', cursive;
	text-decoration: none;
	margin: 15px;
	width: 100px;
	height: 25px;
	background-color: #9b9393;
	text-align: center;
	color: #000000;
	padding-top: 5px;
	border-radius: 25px;
	text-transform: uppercase;
	transition: 0.5s;
}
@media all and (max-width: 600px){
	.nava a{	
		width: 200px;
		height: 50px;
		font-size: 200%;
	}
}
.nava a:hover{
	background-color: #494848;
	transform: scale(1.5);
}
.trek3{
	width: 100%;
	height: 100%;
}
.line1{
	height: 20px;
	max-width: 100%;
	background-color: black;
	margin-top: 50px;
}
/*header_and*/
/*main*/
h1{
	font-family: 'Kelly Slab', cursive;
	text-align: center;
	margin: 10px;
}
.mtb{
	font-family: 'Roboto Condensed', sans-serif;
	text-indent: 50px;
	font-size: 150%;
	text-align: center;
}
.arrow_left{
	height: 10%;
	width: 10%;
	float: left;
	margin-left: 5%;
	margin-top: 2%;
}
.arrow_right{
	height: 10%;
	width: 10%;
	float: right;
	margin-top: 2%;
	margin-right: 5%;
}
.arrow_text{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 150%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	color: #a52109;
	text-align: center;
}
.arrow_warning{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 400%;
	color: #a52109;
	text-align: center;
	margin-top: 3%;
}
.mtb1{
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: 'Kelly Slab', cursive;
	text-indent: 50px;
	font-size: 250%;
	text-align: center;
}
.details_info{
 position: relative;
}
.a1 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 65%;
	left: 48%;
}
.a2 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 52%;
	left: 68%;
}
.a3 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 32%;
	left: 71%;
}
.a5 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 55%;
	left: 75%;
}
.a6 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 45%;
	left: 35%;
}
.a7 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 25%;
	left: 13%;
}
.a8 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 70%;
	left: 27%;
}
.a10 {
	font-family: 'Kelly Slab', cursive;
	text-decoration: none;
	text-align: center;
	color: #fff;
	padding: 0.4%;
	border-radius: 40%;
	font-size: 200%;
	transition: 0.5s;

	position: absolute;
	bottom: 35%;
	left: 45%;
}
@media all and (max-width: 600px){
	.a1{
	bottom: 60%;
	left: 48%;
	}
	.a2{
	bottom: 52%;
	left: 60%;
	}
	.a5{
	bottom: 50%;
	left: 75%;
	}
}
.a1:hover,
.a2:hover,
.a3:hover,
.a5:hover,
.a6:hover,
.a7:hover,
.a8:hover,
.a10:hover {
	color: #a8a8a8;
	transform: scale(1.2);
}
.santa_div{
	display: flex;
	justify-content: center;
}
.santacruz{
	box-shadow: 15px 15px 15px grey;
	width: 100%;
	height: 100%;
}
/*main_and*/
/*footer*/
